<!DOCTYPE html>
<html>
  <head>
    <title>Modelled Finance</title>
    {% include 'bootstrap.html' %}    
    <style>
      #banner{
        height:360px;
        width:100%;
        object-fit:cover;
      }
    </style>
  </head>
   <div class='container'>
    <h1 class='text-center mt-2 mb-4'>
      {{company_name}}
    </h1>
     <div>
       <a href="/calc" type="button"
       class='btn btn-outline-primary'>Calc</a>
     </div>
    <h2 class='text-center'>About {{company_name}}</h2>
    <p class='lead'>gfdejfsdhj hjk hjkdsjksd hjkh jkh jksdhjfd shjkfdsahfjksdhf jk
    hfjdsahfjk lasdhjklsda jkhldsf
    fdsjh usdayhfuiasdhfuiasd h
    adsfh uiasd hfusd fhsda</p>
     <h2 class='text-center'>Open Positions</h2>
     <div>
       {% for job in jobs %}
        {% include 'jobitem.html' %}
       {% endfor %}
     </div>
     <div style="text-align:center;">
     <button class='btn btn-primary btn-lg'>Contact Us</button>
       <p class='mt-4'>Copyright 2023, R9</p>
     </div>
    </div>
  </body>
</html>